@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css")
@import url("../fontawesome-all.min.css")
//@import url("../../node_modules/animate.css/animate.min.css")

$primaryColor: #16ae92
$primaryColorDim: #16ae92
$text-primary: #212529
$text-secondary: #868e96
$text-white: rgba(255,255,255,0.8)
$gradient-background: linear-gradient(-45deg, $primaryColor 0%, #36aaeb 100%)
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)

@font-face
    font-family: "Roboto"
    font-weight: 300
    src: url("/fonts/Roboto-Light.ttf") format("truetype")

@font-face
    font-family: "Roboto"
    font-weight: 400
    src: url("/fonts/Roboto-Regular.ttf") format("truetype")

@font-face
    font-family: "Roboto"
    font-weight: 500
    src: url("/fonts/Roboto-Medium.ttf") format("truetype")

@font-face
    font-family: "Montserrat"
    font-weight: 300
    src: url("/fonts/Montserrat-Light.ttf") format("truetype")

@font-face
    font-family: "Montserrat"
    font-weight: 400
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype")

@font-face
    font-family: "Montserrat"
    font-weight: 500
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype")

::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-thumb
    background-color: #818181
    outline: 2px solid #fff
    outline-offset: -2px

::-webkit-scrollbar-thumb:hover
    background-color: #979797

.mb-default
    margin-bottom: 40px

.lock-height
    display: flex
    flex-direction: column
    overflow: hidden
    max-height: 100%

    .navbar
        flex: none

html, body, #app
    height: 100%
    width: 100%
    max-width: 100%

body
    font-size: 16px
    font-family: Roboto, sans-serif

.dropdown-menu, .form-control, .btn
    font-size: 15px

button:focus
    outline: none

.nav-link:hover
    border: none

/* Spinner component styles */
@keyframes spinner
    0%
        transform: rotateZ(0deg)
    100%
        transform: rotateZ(360deg)

.spinner
    display: flex
    flex-direction: row
    justify-content: center
    animation: 1s spinner linear infinite

    &:after
        content: " "
        display: block
        width: 50px
        height: 50px
        border-radius: 50%
        border: 5px solid $primaryColor
        border-left-color: transparent
        border-right-color: transparent

/* CircleButton component styles */
.circle-button
    height: 40px
    width: 40px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100%
    color: white
    background: $primaryColor
    box-shadow: $box-shadow
    transition: transform .3s

    &:hover
        cursor: pointer


/* BoardTile component styles */
.board-tile
    display: inline-block
    height: 100px
    padding: 0.3em 0.5em
    background-repeat: no-repeat !important
    background-position: top center !important
    background-size: cover !important
    background: rgba(0, 0, 0, 0.55)

    .board-tile-name
        z-index: 0
        color: white
        font-size: 1.2em
        text-shadow: 1px 1px black

/* BeforeAfter component styles */
.before-after-container
    max-width: 100%
    width: 100vw
    box-sizing: content-box
    position: relative
    overflow: hidden

    .before-img, .after-img
        max-width: 100%
        top: 0
        left: 0
        position: absolute
        user-select: none

    .before-img
        z-index: 1

/* Index view styles */
.index-page
    $primaryColor: #16ae92
    box-sizing: border-box
    font-weight: 400
    word-wrap: break-word
    color: #212529

    h1
        font-weight: 300
        font-size: 48px
        letter-spacing: .03em

    h2, h3
        font-family: Montserrat, sans-serif
        font-weight: 300
        text-align: center



    .home
        display: flex
        flex-direction: column
        position: relative
        background: $gradient-background
        color: white
        padding-bottom: 40px
        margin-bottom: 40px
        min-height: 70vh

        .navbar
            .nav-link
                text-align: right
                text-transform: uppercase

        .home-contents
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center

            .btn
                padding: .75em 1.75em
                text-transform: uppercase
                font-size: 18px
                border-radius: 100px !important
                transition: all .3s
                margin-bottom: 40px

                &:hover
                    transform: translateY(-5px)
                    box-shadow: 0 10px 10px rgba(0, 0, 0, .35)

            .laptop-mockup
                margin: auto
                max-width: 85%
                padding: 0



    .features
        position: relative
        margin-bottom: 40px !important

        h2
            margin-bottom: 40px

        .feature-block
            font-size: 18px
            margin-bottom: 40px

            .col-md-12
                height: 100%
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
                padding-top: 2em

            .feature-icon
                font-size: 50px
                transition: transform .2s ease-in-out
                margin-bottom: .5rem

                .fa
                    background: $gradient-background
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent

            .feature-header
                font-size: 20px
                color: $text-primary
                margin-bottom: .5em

            .feature-description
                color: $text-secondary

    .copyright
        font-size: 13px

    .themes
        display: flex
        flex-direction: column
        justify-content: center
        padding: 40px 0
        position: relative
        max-width: 100%
        background: #f4f6fb
        margin-bottom: 40px

        .container
            .text-muted
                margin-bottom: 40px

            .slide-icon
                max-height: 50px
                margin-bottom: 40px

            .before-after-container
                margin-bottom: 50px

            p
                font-weight: 300
                font-size: 20px

    .pricing
        text-align: center
        margin-bottom: 40px !important

        .text-muted
            margin-bottom: 40px

        .pricing-card
            display: flex
            flex-direction: column
            justify-content: space-around
            padding: 1em
            border: 1px solid $primaryColor
            height: 350px
            width: 300px
            max-width: 100%

            .pricing-header
                font-family: Montserrat, sans-serif
                font-size: 1.5rem

            .price
                font-size: 48px
                color: $primaryColor

                .price-addon
                    font-size: 36px
                    color: $text-secondary

            .btn
                display: inline
                border: 1px solid $primaryColor
                padding: .75em 1.75em
                text-transform: uppercase
                font-size: 18px
                border-radius: 100px !important
                transition: all .3s
                color: $text-primary

                &:hover
                    background: $primaryColor
                    color: white
                    transform: translateY(-5px)
                    box-shadow: 0 10px 10px rgba(0, 0, 0, .35)

            .text-muted
                margin-bottom: 0

    .tech
        padding: 40px 0
        background: #f4f6fb
        position: relative

        .container
            display: flex
            flex-direction: column
            justify-content: center

            .text-muted
                margin-bottom: 40px

            .images-container
                display: flex
                flex-direction: row
                justify-content: space-around
                flex-wrap: wrap

                img
                    margin-bottom: 40px

    .gallery
        padding: 40px 0

        .text-muted
            margin-bottom: 40px

    .footer
        padding: 20px
        position: relative
        background: $text-primary
        color: $text-white

        p
            margin-bottom: 0

        .container
            display: flex
            flex-direction: row
            justify-content: space-between

/* Board view styles */
.board-page
    height: 100%
    width: 100%
    position: relative
    flex-grow: 1

    .board-page-wrapper
        height: 100%
        position: absolute
        display: flex
        flex-direction: column
        width: 100%

        .board-contents
            flex-grow: 1
            padding: 1em 0
            height: calc(100% - 2em)
            overflow-x: auto
            display: flex
            align-items: flex-start

            &::after
                display: block
                content: ""
                width: 1em
                border-right: 1em solid transparent
                height: 1px

            .audor-list-form
                border-top: 5px solid $primaryColor
                flex: none
                width: 17em
                overflow: hidden
                padding: 1em
                background: #e7e7e7
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

            .board-contents-draggable
                display: inline-flex
                align-items: flex-start
                padding-right: 1em
                height: 100%

                .audor-list
                    border-top: 5px solid $primaryColor
                    flex: none
                    width: 17em
                    margin-left: 1em
                    display: flex
                    flex-direction: column
                    background: #e7e7e7
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
                    max-height: 100%

                    &.empty
                        .audor-list-head
                            padding-bottom: .5em
                        .audor-card-form
                            padding-top: 0
                        .audor-card-container
                            display: none

                    .audor-list-head
                        padding: 1em

                    .audor-list-heading
                        white-space: pre-line

                    .card-placeholder
                        min-height: 3em
                        border: 1px dashed $text-secondary

                    .audor-card-container
                        max-height: 80vh
                        overflow-y: auto
                        overflow-x: hidden
                        padding: 0 1em
                        padding-bottom: .5em

                    .audor-card-form
                        padding: 1em
                        padding-top: .5em

                    .audor-card
                        margin-top: 1em
                        margin-bottom: 1em
                        background: white
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

                        &:first-of-type
                            margin-top: 0

                        &:last-of-type
                            margin-bottom: 0

                        &.sortable-ghost
                            margin-top: 0

                        .audor-card-heading
                            white-space: pre-line
                            font-weight: 300

                        .audor-card-info
                            padding: 0.5em

                        .card-image
                            width: 100%

        .board-controls
            flex: none
            display: flex
            height: auto
            justify-content: space-between

            .board-name
                font-size: 24px
                font-weight: 300

/* Auth view styles */
.auth-page
    height: 100%

    .auth-form
        width: 400px
        max-width: 100%
        margin: auto
        border-radius: 10px
        padding: 2em 1em
        background: white
        box-shadow: 0 10px 10px rgba(0, 0, 0, .4)

.invalid-feedback
    white-space: normal

.bg-none
    background: none !important

.form-group:last-of-type
    margin-bottom: 0

[v-cloak]
    display: none

.bg-primary-gradient
    background: $gradient-background

.bg-primary
    background: $primaryColor !important

.no-caret::after
    content: none !important

.no-border
    border: none

.navbar
    border-radius: 0
    z-index: 1
    padding: .5em 1em

    .navbar-toggler
        border: none
        padding: 0

.modal-dialog
    max-width: 90%
    width: 700px

.background
    position: fixed
    width: 105%
    height: 105%
    top: -1em
    left: -1em
    z-index: -1
    background-repeat: no-repeat
    background-position: top center
    background-size: cover
    filter: blur(3px)

.blur-effect
    background: rgba(200, 200, 200, 0.15)
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 0

a
    color: #00b7ff

.animated-fast
    -webkit-animation-duration: .5s
    animation-duration: .5s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both

.audor-list, .audor-card, .card-label-big
    cursor: pointer

.audor-list:hover, .audor-card:hover, .card-label-big:hover
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)

    .audor-options-btn > .btn
        color: rgba(0, 0, 0, 0.5)

/* App specific overrides */
#app
    .form-control
        border-radius: 0

    .input-group-text
        border-radius: 0

    .btn
        border-radius: 0

    .nav-pills .nav-link
        border-radius: 0

/* Dark theme overrides */
#app.app-dark
    $dark-primary: #2b2b2b
    $dark-secondary: #383838
    $font-color: rgba(255, 255, 255, 0.7)

    color: $font-color
    background: $dark-secondary

    .input-group-text
        color: $font-color
        background-color: $dark-secondary
    .navbar
        background: $dark-primary !important
    .audor-list
        background: $dark-primary
    .audor-list-form
        background: $dark-primary
    .audor-card
        background: $dark-secondary
    .grey-link
        color: rgba(255, 255, 255, 0.5)
    .modal-content
        background: $dark-primary
    input:not([type='button']):not([type='submit']), select, textarea
        color: white
        background: $dark-secondary
    button.close
        color: white
    .audor-options-btn .btn
        color: rgba(255, 255, 255, 0.5)
    .audor-options-btn:hover .btn
        color: rgba(255, 255, 255, 0.7) !important
    .dropdown-menu
        color: white
        background: $dark-secondary
    .dropdown-item
        color: white
    .dropdown-item:focus, .dropdown-item:hover
        background: $dark-primary
    .modal-header
        border-bottom: 1px solid $dark-secondary
    .modal-footer
        border-top: 1px solid $dark-secondary
    .dropdown-divider
        border-top: 1px solid $dark-primary
    .card
        background: $dark-primary

.dropdown-item:hover a
    background-color: #007bff
    color: white !important

.audor-options-btn
    height: 1.5em
    width: 1.5em
    float: right
    text-align: center

    .btn
        padding: 0
        color: transparent

.audor-options-btn:hover > .btn
    color: rgba(0, 0, 0, 1) !important

.grey-link
    font-size: 0.9em
    color: grey

textarea
    resize: none

.dropdown-form
    width: 300px
    padding: 1em

.navbar-transparent
    background: rgba(0, 0, 0, 0.3)
    color: white

.navbar-dark .navbar-nav .nav-link
    color: white !important
    &:hover
        color: white !important

.spinner
    text-align: center

.card-info-icons
    margin-top: .25rem
    color: grey

.card-label-big
    margin: 0 .5em .5em 0
    height: 2em
    width: 2.75em
    border-radius: 3px
    display: inline-block

.card-label-small
    margin: .5em .50em 0 0
    height: 1rem
    width: 1rem
    border-radius: 100%
    display: inline-block

.img-square-circle
    position: relative
    max-height: 100%
    max-width: 100%
    height: 200px
    width: 200px
    margin: auto
    border-radius: 100%
    overflow: hidden
    img
        height: 100%

.sortable-ghost
    background: rgba(0, 0, 0, 0.3)
    > *
        visibility: hidden

.navbar-dark .navbar-brand
    color: #fff !important

/* Chrome image display fix */
img:not([src])
    display: none