doctype html
html(lang="ru")
    head
        title Project Audor
        if env.NODE_ENV === "production"
            script(src="/js/vendor.min.js" defer)
            script(src="/js/app.min.js" defer)
        else
            script(src="/js/vendor.js" defer)
            script(src="/js/app.js" defer)
        link(rel='stylesheet', href='/css/style.css')
        link(rel="apple-touch-icon", sizes="180x180", href="/pwa/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/pwa/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/pwa/favicon-16x16.png")
        link(rel="manifest", href="/pwa/site.webmanifest")
        link(rel="mask-icon", href="/pwa/safari-pinned-tab.svg", color="#06ad91")
        link(rel="shortcut icon", href="/pwa/favicon.ico")
        each preload in preloads
            link(rel="preload" href=preload.link as=preload.as type=preload.type crossorigin=preload.as === "font")
        meta(name="msapplication-TileColor", content="#067563")
        meta(name="msapplication-config", content="/pwa/browserconfig.xml")
        meta(name="theme-color", content="#06ad91")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Это революционное решение для визуализации рабочего процесса, которое может подстраиваться под ваши нужды, и будет полностью соответствовать вашим желаниям")
    body
        noscript Для работы этого сайта требуется JavaScript. This site requires JavaScript to operate normally
        #app(v-cloak v-bind:class="appStyle")
            b-navbar(v-if="hasNavbar" toggleable type="dark" v-bind:class="navbarClasses")
                b-navbar-brand
                    img(src="/images/audor-logo-white.svg" alt="audor-logo" height="30")
                b-navbar-toggle(target="nav_collapse")
                b-collapse(is-nav id="nav_collapse")
                    b-navbar-nav.ml-auto(v-if="user._id")
                        b-nav-item-dropdown(text="Список досок")
                            template(slot="button-content")
                                span.fa.fa-fw.fa-table.mr-1
                                span Доски
                            b-dropdown-item(to="/boards" exact) Список досок
                            b-dropdown-divider(v-if="boards.length > 0")
                            b-dropdown-item(v-for="board in boards"
                                v-bind:to="/boards/ + board._id"
                                v-bind:key="board._id"
                                exact) {{board.name}}
                        b-nav-item-dropdown(right)
                            template(slot="button-content")
                                span.fa.fa-fw.fa-user.mr-1
                                span {{ user.name || user.login }}
                            b-dropdown-item(to="/admin" v-if="user.admin") Админ-панель
                            b-dropdown-item(:to="'/users/' + user._id" exact) Профиль
                            b-dropdown-item(to="/settings") Настройки
                            b-dropdown-item(to="/logout") Выйти
            router-view
