<template lang="pug">
    .audor-list(:class="listStyles")
        .audor-list-head
            b-dropdown.audor-options-btn(right
                v-if="!headingEdit && ($root.userRole.permissions.list.update" +
                "|| $root.userRole.permissions.list.remove)"
                no-caret
                boundary="window"
                variant="link")
                template(slot="button-content")
                    i.fa.fa-fw.fa-ellipsis-h
                b-dropdown-item(@click="headingEdit = true" v-if="$root.userRole.permissions.list.update") Изменить
                b-dropdown-item(@click="$emit('list-remove')" v-if="$root.userRole.permissions.list.remove") Удалить
            .audor-list-heading(v-if="!headingEdit"
                v-on:click="toggleEdit") {{list.name}}
            b-form-input(type="text"
                v-else
                v-model="list.name"
                v-on:keyup.native.enter="listNameEdit")
        .audor-card-container
            draggable(v-model="list.cards"
                v-bind:options="cardDraggableOptions"
                @start="cardMoveStart"
                v-bind:class="containerStyles"
                v-on:end="cardMove")
                AudorCard(v-for="(card, index) in list.cards"
                    v-bind:card="card"
                    v-bind:key="card._id"
                    v-on:card-remove="removeCard(card, index)")
        AudorCardForm(v-if="$root.userRole.permissions.card.create" v-on:create-card="createCard")
</template>

<script>
    export default {
        name: "AudorList",
        components: {
            AudorCard: require("./AudorCard.vue"),
            AudorCardForm: require("./AudorCardForm.vue"),
            Draggable: require("vuedraggable"),
        },
        computed: {
            cardDragState() {
                if (!this.$root.userRole.permissions) return true;
                return !this.$root.userRole.permissions.card.update
            },
            containerStyles() {
                let containerStyles = ["audor-card-inner-container"];
                if (this.$root.cardMoving) containerStyles.push("card-placeholder");
                return containerStyles;
            },
            hasCards() {
                return this.list.cards.length > 0;
            },
            listStyles() {
                if (this.$root.cardMoving) return "";
                if (!this.hasCards) return "empty";
            }
        },
        data: function () {
            return {
                headingEdit: false,
                cardDraggableOptions: {
                    group: "card",
                    animation: 300,
                    disabled: this.$root.isMobilePhone || this.cardDragState
                }
            }
        },
        props: {
            list: Object
        },
        methods: {
            toggleEdit: function () {
                if (this.$root.userRole.permissions.list.update) this.headingEdit = true;
            },
            listNameEdit: function () {
                this.headingEdit = false;
                this.$http.post(`/rest/lists/${this.list._id}`, this.list);
            },
            createCard: function (name) {
                let data = { name, list: this.list, board: global.board };

                this.$http.post("/rest/cards/", data).then(response => {
                    this.list.cards.push(response.data);
                });
            },
            removeCard: function (card, index) {
                this.$http.delete("/rest/cards/" + card._id).then(response => {
                    this.list.cards.splice(index, 1);
                });
            },
            cardMoveStart: function () {
                this.$root.cardMoving = true;
            },
            cardMove: function () {
                eventBus.$emit("card-move");
                this.$root.cardMoving = false;
            }
        }
    }
</script>