<template lang="pug">
    .audor-card(@click="cardClickHandler" v-if="board.prefs")
        img.card-image(v-if="board.prefs.showImagesOnCards" v-bind:src="card.image")
        .audor-card-info
            b-dropdown.audor-options-btn(v-if="isOptionsAvaliable"
                no-caret
                boundary="window"
                variant="link")
                b-dropdown-item(@click="cardModalToggle" v-if="$root.userRole.permissions.card.update") Изменить
                b-dropdown-item(@click="$emit('card-remove')" v-if="$root.userRole.permissions.card.remove") Удалить
                template(slot="button-content")
                    i.fa.fa-fw.fa-ellipsis-h
            .card-labels-list(v-if="board.prefs.showLabelsOnCards && card.labels !== undefined && card.labels.length !== 0")
                .card-label-small(v-for="(label, key) in card.labels"
                    v-bind:style="{background: label}")
            .audor-card-heading {{card.name}}
            .card-info-icons(v-if="hasIcons")
                i.fa.fa-fw.fa-file-alt(v-if="card.description"
                    v-b-tooltip
                    title="Карточка имеет описание")
                i.fa.fa-fw.fa-bars(v-if="!board.prefs.showProgressBarsOnCards && card.progressBars && card.progressBars.length > 0"
                    v-b-tooltip
                    title="Карточка имеет индикаторы прогресса")
                i.fa.fa-fw.fa-image(v-if="!board.prefs.showImagesOnCards && card.image"
                    v-b-tooltip
                    title="Карточка имеет картинку")
            .card-progress(v-if="board.prefs.showProgressBarsOnCards")
                CardProgressBar(v-for="(item, index) in card.progressBars"
                    v-bind:progressBar="item"
                    v-bind:removable="true"
                    v-bind:compact="true"
                    v-on:remove="removeProgressBar(index)")
</template>

<script>
    export default {
        name: "AudorCard",
        components: {
            "CardProgressBar": require("./CardProgressBar.vue")
        },
        props: {
            card: Object,
        },
        computed: {
            board: function () {
                return this.$root.currentBoard;
            },
            hasIcons: function () {
                let iconFields = ["description", "progressBars"];
                for (let field of iconFields) if (this.card[field] && this.card[field].length > 0) return true;
                return false;
            },
            isOptionsAvaliable: function() {
                return this.$root.userRole.permissions.card.update || this.$root.userRole.permissions.card.remove;
            }
        },
        methods: {
            cardModalToggle: function () {
                eventBus.$emit('card-modal-toggle', this.card);
            },
            cardClickHandler: function (event) {
                let clickableElements = ["audor-card", "audor-card-heading",
                    "card-labels-list", "card-info-icons", "card-image"];
                for (let elem of clickableElements)
                    if (event.target.className.indexOf(elem) >= 0) {
                        this.cardModalToggle();
                        return;
                    }
            }
        }
    }
</script>