<template lang="pug">
    .audor-list-form
        form(v-if="formVisible" v-on:submit.prevent="createList")
            b-form-group
                b-form-input(type="text"
                v-bind:state="getFieldState('name')"
                v-on:input="$v.name.$touch()"
                v-model="name")
                b-form-invalid-feedback Название списка не может быть пустым
            b-form-group
                b-button-group
                    b-button(variant="success"
                    v-on:click="createList"
                    v-bind:disabled="$v.name.$invalid") Создать
                    b-button(variant="default" v-on:click="hideForm")
                        span.fa.fa-fw.fa-times
        a.grey-link(v-else @click.prevent="showForm" href="#") Создать список
</template>

<script>
    const {required} = require("vuelidate/lib/validators");

    export default {
        data: function () {
            return {
                formVisible: false,
                name: ""
            }
        },
        validations: {
            name: {
                required
            }
        },
        methods: {
            showForm() {
                this.formVisible = true;
                this.$v.$reset();
            },
            hideForm() {
                this.name = "";
                this.formVisible = false;
                this.$v.$reset();
            },
            getFieldState(form, field) {
                if (!this.$v) return null;

                if (!field) {
                    if (!this.$v[form].$dirty) return null;
                    return !this.$v[form].$invalid
                }

                if (!this.$v[form][field].$dirty) return null;
                return !this.$v[form][field].$invalid
            },
            createList: function (event) {
                this.formVisible = false;
                this.$emit("list-create", this.name);
                this.name = ""
            }
        }
    }
</script>