    <template lang="pug">
    .audor-card-form
        form.new-card-form(v-if="formVisible" v-on:submit.prevent="createNewCard")
            b-form-group
                b-form-textarea(name="name"
                    v-model="name"
                    v-bind:state="getFieldState('name')"
                    v-on:input="$v.name.$touch()"
                    v-on:keyup.enter="createNewCard")
                b-form-invalid-feedback Название карточки не может быть пустым
            b-form-group
                b-button-group
                    b-button(variant="success"
                        v-on:click="createNewCard"
                        v-bind:disabled="$v.name.$invalid") Создать
                    b-button(variant="default"
                        v-on:click.prevent="hideForm")
                        span.fa.fa-fw.fa-times
        a.grey-link.new-card-prompt(v-else @click.prevent="showForm" href="#") Добавить карточку

</template>

<script>
    const { required } = require("vuelidate/lib/validators");

    export default {
        name: "AudorCardForm",
        data: function() {
            return {
                formVisible: false,
                name: ""
            }
        },
        validations: {
            name: {
                required
            }
        },
        methods: {
            showForm() {
                this.formVisible = true;
                this.$v.$reset();
            },
            hideForm() {
                this.name = "";
                this.formVisible = false;
                this.$v.$reset();
            },
            getFieldState(form, field) {
                if (!this.$v) return null;

                if (!field) {
                    if (!this.$v[form].$dirty) return null;
                    return !this.$v[form].$invalid
                }

                if (!this.$v[form][field].$dirty) return null;
                return !this.$v[form][field].$invalid
            },
            createNewCard: function () {
                this.$emit("create-card", this.name);
                this.hideForm();
            }
        }
    }
</script>