<template lang="pug">
    .before-after-container(:style="containerStyle"
        v-on:mousemove="mouseHandler"
        v-on:touchmove="mouseHandler")
        img.before-img(:src="before"
            :style="beforeClip")
        img.after-img(:src="after"
            v-on:load="setDimensions")
</template>

<script>
    export default {
        name: "BeforeAfter",
        props: {
            before: String,
            after: String,
            disabled: Boolean
        },
        data() {
            return {
                containerSize: {},
                containerStyle: {},
                offsetX: Number
            }
        },
        computed: {
            beforeClip() {
                return {
                    clip: `rect(0, ${this.offsetX}px, ${this.containerSize.height}px, 0)`
                }
            }
        },
        methods: {
            setDimensions() {
                let targetElement = this.$el.querySelector(".after-img");
                let targetRect = targetElement.getBoundingClientRect();

                this.containerSize.height = targetRect.height;
                this.containerSize.width = targetRect.width;

                this.offsetX = this.containerSize.width / 2;

                this.containerStyle = {height: this.containerSize.height + "px", width: this.containerSize.width + "px"};
            },
            mouseHandler(event) {
                if (this.disabled) return;
                let targetRect = event.target.getBoundingClientRect();
                this.offsetX = event.touches ? event.touches[0].pageX - targetRect.left : event.offsetX;
            },
            resize() {
                this.containerSize = {};
                this.containerStyle = {};
                this.$nextTick(() => this.setDimensions());
            }
        },
        created() {
            window.addEventListener("resize", this.resize)
        }
    }
</script>