<template lang="pug">
    b-modal(v-if="board"
        title="Настройки доски"
        v-model="$parent.boardModalVisible")
        b-tabs(pills nav-class="mb-3")
            b-tab(title="Основные")
                b-form-group
                    label Название
                    b-form-input(type="text"
                        v-model="board.name"
                        v-bind:state="getFieldState('board', 'name')"
                        v-on:input="$v.board.name.$touch()"
                        placeholder="Название")
                    b-form-invalid-feedback(v-if="!$v.board.name.required") Название доски не может быть пустым
                    b-form-invalid-feedback(v-if="!$v.board.name.maxLength") Название доски не должно превышать 30 символов
                .board-prefs-block(v-if="board.prefs")
                    .form-check
                        input.form-check-input(type="checkbox"
                        v-model="board.prefs.showImagesOnCards")
                        label.form-check-label Показывать изображения на карточках
                    .form-check
                        input.form-check-input(type="checkbox"
                        v-model="board.prefs.showProgressBarsOnCards")
                        label.form-check-label Показывать индикаторы на карточках
                    .form-check
                        input.form-check-input(type="checkbox"
                        v-model="board.prefs.showLabelsOnCards")
                        label.form-check-label Показывать метки на карточках
            b-tab(title="Фоновое изображение")
                img.img-fluid.mb-3(v-if="board.background"
                v-bind:src="board.background")
                form(@submit.prevent="changeBackground")
                    .form-group
                        input(type="file" name="background").form-control
                    .form-group
                        input.btn.btn-success.mr-2(type="submit"
                        value="Загрузить")
                        input.btn.btn-danger(type="button"
                        value="Удалить"
                        v-if="board.background"
                        v-on:click="removeBackground")
            b-tab(title="Пользователи")
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Имя пользователя
                            th Группа
                            th Действия
                    tbody
                        tr(v-for="(entry, index) in board.users")
                            td {{ entry.user.login }}
                            td {{ entry.role.name }}
                            td
                                b-button(variant="danger"
                                v-on:click="removeUser(index)") Удалить
                b-alert(variant="danger"
                    v-bind:show="userInviteForm.error"
                    v-if="userInviteForm.error") {{ userInviteForm.error }}
                b-form-group
                    label Логин
                    b-form-input(type="text",
                        v-bind:state="getFieldState('userInviteForm', 'login')"
                        v-on:input="$v.userInviteForm.login.$touch()"
                        v-model="userInviteForm.login")
                    b-form-invalid-feedback Логин пользователя не может быть пустым
                b-form-group
                    label Группа
                    b-form-select(v-model="userInviteForm.role",
                        v-bind:state="getFieldState('userInviteForm', 'role')"
                        v-on:input="$v.userInviteForm.role.$touch()"
                        v-bind:options="userRoles")
                    b-form-invalid-feedback Выберите группу пользователя
                b-form-group
                    b-button(variant="success"
                        v-bind:disabled="$v.userInviteForm.$invalid"
                        v-on:click="addUser") Добавить
            b-tab(title="Удалить доску")
                span Вы точно уверены что хотите удалить доску
                .form-group.mt-1
                    button.btn.btn-danger(v-on:click="removeBoard") Удалить
        template(slot="modal-footer")
            b-btn(variant="success"
                v-bind:disabled="$v.board.$invalid"
                v-on:click="updateBoard") Сохранить
            button.btn.btn-secondary(@click="$parent.boardModalVisible = false") Закрыть
</template>

<script>
    const { required, maxLength } = require("vuelidate/lib/validators");

    export default {
        data() {
            return {
                userInviteForm: {
                    login: "",
                    role: "",
                    error: ""
                },
                userRoles: [
                    { value: "admin", text: "Администратор"},
                    { value: "user", text: "Пользователь"},
                    { value: "guest", text: "Гость"}
                ]
            }
        },
        computed: {
            board() {
                return this.$parent.board;
            }
        },
        validations: {
            board: {
                name: {
                    required,
                    maxLength: maxLength(30)
                }
            },
            userInviteForm: {
                login: {
                    required
                },
                role: {
                    required
                }
            }
        },
        methods: {
            getFieldState(form, field) {
                if (!this.$v) return null;

                if (!field) {
                    if (!this.$v[form].$dirty) return null;
                    return !this.$v[form].$invalid
                }

                if (!this.$v[form][field].$dirty) return null;
                return !this.$v[form][field].$invalid
            },
            removeBackground() {
                this.$http.delete(`/rest/boards/${this.board._id}/background`).then(() => {
                    this.board.background = undefined;
                })
            },
            changeBackground(event) {
                const formData = new FormData(event.target);
                this.$http.post(`/rest/boards/${this.board._id}/background`, formData).then(response => {
                    this.$set(this.board, "background", response.data.background);
                })
            },
            updateBoard() {
                this.$http.post(`/rest/boards/${this.board._id}`, this.board).then(() => {
                    this.$parent.boardModalVisible = false;
                });
            },
            removeBoard() {
                eventBus.$emit("board-remove", this.board);
            },
            removeUser(index) {
                let removedUser = this.board.users[index];
                this.$http.delete(`/rest/boards/${this.board._id}/users/${removedUser._id}`).then(response => {
                    this.board.users.splice(index, 1);
                })
            },
            addUser() {
                this.userInviteForm.error = "";

                this.$http.post(`/rest/boards/${this.board._id}/users`, this.userInviteForm).then(response => {
                    console.log(response.data);
                    if (response.data.error) {
                        this.userInviteForm.error = response.data.error;
                        return;
                    }

                    this.board.users = response.data;
                });
            }
        }
    }
</script>