<template lang="pug">
    router-link.col-md-6.col-lg-3.mb-3(:to="'/boards/' + board._id")
        .col-md-12.board-tile(v-bind:style="backgroundImage")
            .board-tile-name {{board.name}}
</template>

<script>
    export default {
        name: "BoardTile",
        props: {
            board: Object
        },
        computed: {
            backgroundImage() {
                return this.board.background ? { backgroundImage: `url(${this.board.background})`} : "";
            }
        }
    }
</script>