<template lang="pug">
    b-modal(v-if="card"
    v-model="$root.cardModalVisible")
        template.d-block(slot="modal-title")
            h4.modal-title.d-block {{card.name}}
            small.font-weight-light в списке {{list.name}}
        b-tabs(v-if="editMode" pills nav-class="mb-3")
            b-tab(active title="Основные")
                .form-group
                    input.form-control(type="text"
                    v-model="card.name")
                .form-group
                    textarea.form-control(placeholder="Описание карточки"
                    v-model="card.description")
            b-tab(title="Изображение")
                form(v-on:submit="uploadImage")
                    .form-group
                        img.img-fluid(v-if="card.image" v-bind:src="card.image")
                    .form-group
                        input.form-control(type="file" name="image")
                    .form-group
                        input.btn.btn-success.mr-2(type="submit"
                        value="Загрузить")
                        a.btn.btn-danger(href="#" v-if="card.image"
                        v-on:click.prevent="removeImage") Удалить
            b-tab(title="Метки")
                .card-labels-list
                    p Доступные метки:
                    .card-label-big(@click="attachLabel(key)"
                    v-for="(label, key) in avaliableColors"
                    v-bind:data-index="key"
                    v-bind:style="{background: label}")
                .card-labels-list
                    p Выбранные метки:
                    .card-label-big(@click="removeLabel(key)"
                    v-for="(label, key) in card.labels"
                    v-bind:data-index="key"
                    v-bind:style="{background: label}")
            b-tab(title="Индикаторы")
                CardProgressBar(v-for="(item, index) in card.progressBars"
                v-bind:progressBar="item"
                v-bind:removable="true"
                v-on:remove="removeProgressBar(index)")
                form(v-on:submit.prevent="addProgressBar").border.rounded.p-3.mt-3
                    .form-group
                        label Название
                        input.form-control(type="text" v-model="progressBarForm.name")
                    .form-group
                        label Значение
                        input.form-control(type="number" v-model="progressBarForm.value" min="0" max="100")
                    .form-group
                        label Цвет
                        select.form-control(v-model="progressBarForm.color")
                            option(value="bg-success" selected) Зеленый
                            option(value="bg-warning") Желтый
                            option(value="bg-info") Синий
                            option(value="bg-danger") Красный
                    .form-group
                        input.btn.btn-success(type="submit" value="Добавить")
        template(v-else)
            .card-owner-block.mb-3(v-if="card.owner")
                span.fa.fa-fw.fa-user.mb-1.mr-1
                span.font-weight-bold Создатель
                a.d-block(:href="'/users/' + card.owner._id") {{ card.owner.name }}
            .card-dates-block.mb-3
                span.fa.fa-fw.fa-clock.mb-1.mr-1
                span.font-weight-bold Даты
                .d-block Дата создания: {{ createdAt }}
            .card-image-block.mb-3(v-if="card.image")
                span.fa.fa-fw.fa-image.mr-1
                span.font-weight-bold Изображение
                img.img-fluid(v-bind:src="card.image").mt-2
            .card-description-block.mb-3(v-if="card.description")
                span.fa.fa-fw.fa-file-alt.mb-1.mr-1
                span.font-weight-bold Описание
                .d-block.card-description {{ card.description }}
            .card-progresbar-list.mb-3(v-if="card.progressBars !== undefined && card.progressBars.length !== 0")
                span.fa.fa-fw.fa-bars.mr-1
                span.font-weight-bold Индикаторы
                CardProgressBar(v-for="progressBar in card.progressBars"
                v-bind:progressBar="progressBar")
            .card-labels-list.mb-3(v-if="card.labels !== undefined && card.labels.length !== 0")
                .d-block.mb-2
                    span.fa.fa-fw.fa-tag.mr-1
                    span.font-weight-bold Метки
                .card-label-big(v-for="(label, key) in card.labels"
                v-bind:style="{background: label}")
        template(slot="modal-footer")
            a(href="#"
                v-if="$root.userRole.permissions.card.update"
                v-on:click.prevent="editMode = !editMode") {{ editMode ? "Режим просмотра" : "Режим редактирования" }}
            button.btn.btn-success(v-if="editMode" v-on:click="updateCard") Сохранить
            button.btn.btn-secondary(v-on:click="editMode = false" data-dismiss="modal") Закрыть
</template>

<script>
    export default {
        name: "CardModal",
        components: {
            "CardProgressBar": require("./CardProgressBar.vue")
        },
        props: {
            card: {},
            list: {},
            labelColors: Array,
        },
        computed: {
            createdAt() {
                if (!this.card.createdAt) return "";
                return moment(this.card.createdAt).fromNow();
            },
            avaliableColors: function () {
                let avaliableLabels = this.labelColors.slice();
                if (typeof this.card.labels === "undefined") return avaliableLabels;
                for (let label of this.card.labels) avaliableLabels.splice(avaliableLabels.indexOf(label), 1);
                return avaliableLabels;
            }
        },
        data: function () {
            return {
                editMode: false,
                progressBarForm: {
                    name: "",
                    value: 50,
                    color: "bg-success"
                }
            }
        },
        methods: {
            attachLabel: function (index) {
                if (typeof this.card.labels === "undefined") this.card.labels = [];
                this.card.labels.push(this.avaliableColors[index]);
            },
            removeLabel: function (index) {
                this.card.labels.splice(index, 1);
            },
            updateCard: function () {
                this.$http.post(`/rest/cards/${this.card._id}`, this.card);
                this.editMode = false;
            },
            uploadImage: function (event) {
                event.preventDefault();

                let formData = new FormData(event.target);

                this.$http.post(`/rest/cards/${this.card._id}`, formData).then(response => {
                    this.$set(this.card, "image", response.body.image);
                });
            },
            removeImage: function () {
                this.$http.delete(`/rest/cards/${this.card._id}/image`).then(() => {
                    this.card.image = undefined;
                });
            },
            addProgressBar: function () {
                if (this.card.progressBars === undefined) this.card.progressBars = [];
                this.card.progressBars.push(Object.assign({}, this.progressBarForm));
            },
            removeProgressBar: function (index) {
                this.card.progressBars.splice(index, 1);
                if (this.card.progressBars.length === 0) this.card.progressBars = undefined;
            }
        }
    }
</script>