<template lang="pug">
    .card-progress.mt-3.border.rounded.p-3(v-if="!compact")
        span {{ progressBar.name }}
        .progress.mt-1
            div(v-bind:class="['progress-bar', progressBar.color]",
            v-bind:style='"width: " + progressBar.value + "%"')
        a.mt-3.btn.btn-danger(v-if="removable" href="#" v-on:click.prevent="$emit('remove')") Удалить
    .card-progress.mt-1(v-else)
        .progress
            div(v-bind:class="['progress-bar', progressBar.color]",
            v-bind:style='"width: " + progressBar.value + "%"')

</template>

<script>
    export default {
        name: "CardProgressBar",
        props: {
            progressBar: Object,
            removable: false,
            compact: false
        }
    }
</script>