<template lang="pug">
    .circle-button
        .fa(:class="buttonIcon")
</template>

<script>
    export default {
        name: "CircleButton",
        props: {
            icon: String
        },
        computed: {
            buttonIcon() {
                return "fa-" + this.icon;
            }
        }
    }
</script>