<template lang="pug">
    table.table.table-bordered.table-striped
        thead
            tr
                th(v-for="(value, key) in source[0]") {{key}}
        tbody
            tr(v-for="row in source")
                td(v-for="cell in row") {{cell}}
</template>

<script>
    export default {
        name: "GridView",
        props: {
            source: Object
        }
    }
</script>