<template lang="pug">
    .container
        b-tabs(pills navClass="mb-3")
            b-tab(title="Редактор ролей")
                b-card.mb-3(v-for="(role, roleIndex) in roles")
                    h2 {{ roleNames[role.name] }}
                    .permission-object(v-for="(permission, permissionIndex) in role.permissions")
                        .font-weight-bold.mb-1 {{ groups[permissionIndex] }}
                        b-form-checkbox(v-for="(group, groupIndex) in permission"
                            v-model="roles[roleIndex].permissions[permissionIndex][groupIndex]") {{ actions[groupIndex] }}
                b-btn.mb-5(variant="success" v-on:click="saveRoles") Сохранить
</template>

<script>
    export default {
        name: "Admin",
        data() {
            return {
                roles: Object,
                actions: {
                    create: "Создавать",
                    update: "Изменять",
                    remove: "Удалять"
                },
                groups: {
                    card: "Карточки",
                    list: "Списки",
                    board: "Доска"
                },
                roleNames: {
                    owner: "Владелец",
                    admin: "Администратор",
                    user: "Пользователь",
                    guest: "Гость"
                }
            }
        },
        computed: {
            user() {
                return this.$root.user;
            }
        },
        methods: {
            reloadComponent() {
                this.$http.get("/rest/roles").then(response => this.roles = response.data);
            },
            saveRoles() {
                this.$http.post("/rest/roles", this.roles);
            }
        },
        beforeRouteUpdate(to, from, next) {
            this.reloadComponent();
            next()
        },
        created() {
            this.reloadComponent();
        }
    }
</script>