<template lang="pug">
    .container
        Spinner(v-if="!loadComplete")
        template(v-else)
            b-dropdown(variant="info" text="Создать" no-caret).mb-3
                template(slot="button-content")
                    i.fa.fa-plus
                .dropdown-form(v-on:keydown.enter="boardCreate")
                    b-form-group
                        b-form-input(type="text",
                            v-model="boardCreationForm.name"
                            v-bind:state="getFieldState('boardCreationForm', 'name')"
                            placeholder="Название доски"
                            v-on:input="$v.boardCreationForm.name.$touch()")
                        b-form-invalid-feedback Название доски не может быть пустым
                    b-form-group
                        b-btn(block variant="info"
                            v-on:click="boardCreate"
                            v-bind:disabled="$v.boardCreationForm.$invalid") Создать
            .row
                BoardTile(v-for="board in boards"
                    v-bind:board="board"
                    v-bind:key="board._id")
</template>

<script>
    const { required } = require("vuelidate/lib/validators");

    export default {
        name: "boards",
        data: function () {
            return {
                boardCreationForm: {
                    name: ""
                }
            }
        },
        components: {
            "BoardTile": require("../components/BoardTile.vue"),
            "Spinner": require("../components/Spinner.vue")
        },
        validations: {
            boardCreationForm: {
                name: {
                    required
                }
            }
        },
        computed: {
            loadComplete: function () {
                return this.$root.loadComplete;
            },
            boards: function () {
                return this.$root.boards;
            }
        },
        methods: {
            getFieldState(form, field) {
                if (!this.$v) return null;
                if (!this.$v[form][field].$dirty) return null;
                return !this.$v[form][field].$invalid
            },
            boardCreate() {
                this.$http.post("/rest/boards/", this.boardCreationForm).then(response => {
                    this.$root.boards.push(response.data);
                });
            },
            reloadComponent() {
                this.$root.loadBoards();
            }
        },
        created() {
            this.reloadComponent();
        },
        beforeRouteUpdate(to, from, next) {
            this.reloadComponent();
            next();
        },
    }
</script>