<template lang="pug">
    .board-page(v-if="$root.userRole.permissions")
        .background(v-if="board.background != null"
            v-bind:style="{'background-image': 'url(' + board.background + ')'}")
            .blur-effect
        Spinner(v-if="!loadComplete")
        .board-page-wrapper(v-else v-cloak ref="board")
            .board-controls.container-fluid
                .board-name(v-bind:class="{'text-white': board.background}") {{ board.name }}
                CircleButton(v-if="$root.userRole.permissions.board.update" v-on:click.native="showBoardModal" icon="cog")
            .board-contents
                draggable.board-contents-draggable(v-model="lists"
                v-bind:options="listDraggableOptions"
                v-on:end="updateListsOrder"
                @start="dragstart"
                @end="dragend")
                    AudorList(v-for="(list, index) in lists"
                    v-bind:list="list"
                    v-bind:key="list._id"
                    v-on:list-remove="removeList(index)"
                    v-on:card-edit="showCardForm")
                AudorListForm(v-if="$root.userRole.permissions.list.create"
                v-on:list-create="createList")
        CardModal(v-bind:list="selectedList"
        v-bind:card="selectedCard"
        v-bind:label-colors="labelColors")
        BoardModal
</template>

<script>
    export default {
        name: "board",
        components: {
            "CardModal": require("../components/CardModal.vue"),
            "BoardModal": require("../components/BoardModal.vue"),
            "AudorList": require("../components/AudorList.vue"),
            "AudorListForm": require("../components/AudorListForm.vue"),
            "Draggable": require("vuedraggable"),
            "Spinner": require("../components/Spinner.vue"),
            "CircleButton": require("../components/CircleButton.vue")
        },
        computed: {
            listDragState() {
                if (!this.$root.userRole.permissions) return true;
                return !this.$root.userRole.permissions.list.update;
            }
        },
        data: function () {
            return {
                board: {},
                lists: [],
                labelColors: [],
                selectedCard: {},
                selectedList: {},
                listDraggableOptions: {
                    group: "lists",
                    animation: 300,
                    filter: ".audor-list-form, input",
                    preventOnFilter: true,
                    disabled: this.$root.isMobilePhone || this.listDragState
                },
                loadComplete: false,
                boardModalVisible: false,
            }
        },
        methods: {
            initialSort: function () {
                this.lists.sort(this.sortByOrder);
                this.lists.forEach(list => list.cards.sort(this.sortByOrder))
            },
            sortByOrder: function (left, right) {
                if (left.order > right.order) return 1;
                if (left.order < right.order) return -1;
                return 0;
            },
            createList: function (name) {
                let data = {name, order: this.lists.length};

                this.$http.post(`/rest/boards/${this.board._id}/lists`, data).then((response) => {
                    response.data.cards = [];
                    this.lists.push(response.data);
                });

            },
            removeList: function (index) {
                this.$http.delete("/rest/lists/" + this.lists[index]._id).then(() => {
                    this.lists.splice(index, 1);
                });
            },
            updateCardsOrder: function () {
                this.lists.forEach(list => {
                    list.cards = list.cards.map((card, index) => {
                        card.order = index;
                        return card;
                    })
                });

                let cardsOrder = this.lists.slice().map(list => {
                    let cards = list.cards.map(card => ({id: card._id, order: card.order}));
                    return {id: list.id, cards};
                });

                this.$http.post(`/rest/boards/${this.board._id}/cards/order`, cardsOrder)
            },
            updateListsOrder: function (event) {
                this.lists = this.lists.map((list, index) => {
                    list.order = index;
                    return list
                });

                let listsOrder = this.lists.map((list) => {
                    return {id: list.id, order: list.order};
                });

                this.$http.post(`/rest/boards/${this.board._id}/lists/order`, listsOrder);
            },
            showCardForm: function (card) {
                this.selectedCard = card;

                this.lists.forEach(list => {
                    if (list._id === card.list) this.selectedList = list;
                });

                this.$root.cardModalVisible = true;
            },
            reloadComponent(board) {
                this.loadComplete = false;
                this.$http.get(`/rest/boards/${board}`).then(response => {
                    this.board = response.data;
                    this.$root.currentBoard = this.board;
                });

                this.$http.get(`/rest/boards/${board}/lists`).then(response => {
                    this.lists = response.data;
                    this.initialSort();
                    this.loadComplete = true;
                });
                this.$http.get("/rest/labels/colors").then(response => this.labelColors = response.data);
            },
            updateBoard: function () {
                this.$http.post(`/rest/boards/${this.board._id}`, this.board);
            },
            showBoardModal() {
                this.boardModalVisible = true;
            },
            dragstart(event) {
                console.log(event)
            },
            dragend(event) {
                console.log(event)
            }
        },
        created() {
            this.reloadComponent(this.$route.params.id);
            eventBus.$on("card-modal-toggle", this.showCardForm);
            eventBus.$on("card-move", this.updateCardsOrder);
        },
        beforeRouteUpdate(to, from, next) {
            this.reloadComponent(to.params.id);
            next();
        },
        beforeRouteLeave(to, from, next) {
            this.$root.currentBoard = {};
            next();
        }
    }
</script>