<template lang="pug">
    .auth-page.container.d-flex.flex-column.justify-content-center
        .auth-form
            form
                b-alert(variant="danger" v-if="error" show) {{ error }}
                b-form-group
                    b-input-group
                        b-input-group-text.d-none.d-md-block(slot="prepend")
                            span.fa.fa-fw.fa-user
                        b-form-input(type='text'
                        v-model="login"
                        v-bind:state="getFieldState('login')"
                        placeholder="Логин"
                        v-on:input="$v.login.$touch()")
                        b-form-invalid-feedback Поле не может быть пустым
                b-form-group
                    b-input-group
                        b-input-group-text.d-none.d-md-block(slot="prepend")
                            span.fa.fa-fw.fa-key
                        b-form-input(type='password'
                        v-model="password"
                        v-on:input="$v.password.$touch()"
                        v-bind:state="getFieldState('password')"
                        placeholder="Пароль")
                        b-form-invalid-feedback Поле не может быть пустым
                b-form-group
                    b-btn.form-control(block variant="success"
                    v-on:click="attemptLogin"
                    v-bind:disabled="$v.$invalid") Войти
                hr
                b-form-group.text-center
                    b-link(to="/register") Зарегистрироваться
</template>

<script>
    const {required} = require("vuelidate/lib/validators");

    export default {
        name: "login",
        data() {
            return {
                login: "",
                password: "",
                error: ""
            }
        },
        validations: {
            login: {
                required
            },
            password: {
                required
            }
        },
        methods: {
            getFieldState(field) {
                if (!this.$v) return null;
                if (!this.$v[field].$dirty) return null;
                return !this.$v[field].$invalid
            },
            attemptLogin() {
                if (this.$v.$invalid) return;
                this.error = "";

                this.$http.post("/login", this.$data).then(response => {
                    if (response.data.error) {
                        this.error = response.data.error;
                        return;
                    }

                    this.$root.user = response.data;
                    this.$router.push("/boards");
                });
            }
        },
        beforeRouteUpdate(to, from, next) {
            console.log("test");
            if (this.$root.user.login) return next("/boards");
            next();
        }
    }
</script>