<template lang="pug">
    .auth-page.container.d-flex.flex-column.justify-content-center
        form.auth-form
            b-alert(variant="danger" v-if="error" show) {{ error }}
            b-form-group
                b-input-group
                    b-input-group-text.d-none.d-md-block(slot="prepend")
                        span.fa.fa-fw.fa-user
                    b-form-input(type='text'
                    v-model="login"
                    v-on:input="$v.login.$touch()"
                    v-bind:state="getFieldState('login')"
                    placeholder="Логин")
                    b-form-invalid-feedback(v-if="!$v.login.required") Поле не может быть пустым
                    b-form-invalid-feedback(v-if="!$v.login.alphaNum") Поле может содержать только латиницу и цифры
            b-form-group
                b-input-group
                    b-input-group-text.d-none.d-md-block(slot="prepend")
                        span.fa.fa-fw.fa-key
                    b-form-input(type='password'
                    v-model="password"
                    v-on:input="$v.password.$touch()"
                    v-bind:state="getFieldState('password')"
                    placeholder="Пароль")
                    b-form-invalid-feedback Поле не может быть пустым
            b-form-group
                b-input-group
                    b-input-group-text.d-none.d-md-block(slot="prepend")
                        span.fa.fa-fw.fa-key
                    b-form-input(type='password'
                    v-model="password_repeat"
                    v-on:input="$v.password_repeat.$touch()"
                    v-bind:state="getFieldState('password_repeat')"
                    placeholder="Пароль (еще раз)")
                    b-form-invalid-feedback(v-if="!$v.password_repeat.required") Поле не может быть пустым
                    b-form-invalid-feedback(v-if="!$v.password_repeat.sameAs") Проверочный пароль не совпадает
            b-form-group
                b-btn(block variant="success"
                    v-on:click="attemptRegister"
                    v-bind:disabled="$v.$invalid") Зарегистрироваться
            hr
            b-form-group.text-center
                b-link(to="/login") Войти
</template>

<script>
    const {required, sameAs, alphaNum} = require("vuelidate/lib/validators");

    export default {
        name: "register",
        data() {
            return {
                login: "",
                password: "",
                password_repeat: "",
                error: ""
            }
        },
        validations: {
            login: {
                required,
                alphaNum
            },
            password: {
                required
            },
            password_repeat: {
                required,
                sameAs: sameAs("password")
            }
        },
        methods: {
            getFieldState(field) {
                if (!this.$v) return null;
                if (!this.$v[field].$dirty) return null;
                return !this.$v[field].$invalid
            },
            attemptRegister() {
                if (this.$v.$invalid) return;
                this.error = "";
                this.$http.post("/register", this.$data).then(response => {
                    if (response.data.error) {
                        this.error = response.data.error;
                        return;
                    }

                    this.$root.user = response.data;
                    this.$router.push("/boards");
                })
            }
        },
        beforeRouteUpdate(to, from, next) {
            if (this.$root.user.login) return next("/boards");
            return next();
        }
    }
</script>