<template lang="pug">
    .container.mt-3.mb-3
        b-tabs(pills vertical nav-wrapper-class="mb-3 col-12 col-lg-3" content-class="col-12 col-sm-12 col-lg-5")
            b-tab(title="Основные")
                form(v-on:submit.prevent="updateSettings")
                    .form-group
                        label Имя (псевдоним)
                        input.form-control(type="text" name="name" v-model="settings.name")
                    .form-group
                        label О себе
                        textarea.form-control(name="about" v-model="settings.about")
                    .form-group
                        label Email
                        input.form-control(type="email" name="email" v-model="settings.email")
                    .form-group
                        label Веб-сайт
                        input.form-control(type="text" name="website" v-model="settings.website")
                    .form-group
                        input.btn.btn-success(type="submit" value="Сохранить")
            b-tab(title="Фотография")
                form(v-on:submit.prevent="uploadPhoto")
                    .form-group
                        .img-square-circle.mb-3
                            img(:src='settings.photo || "/images/200x200.png"')
                        input(type="file" name="photo").form-control
                    .form-group
                        input.btn.btn-success(type="submit" value="Загрузить")
            b-tab(title="Внешний вид")
                form(v-on:submit.prevent="updateSettings" v-if="settings.prefs")
                    .form-group
                        label Тема
                        select.form-control(v-model="settings.prefs.theme")
                            option(value="light") Светлая
                            option(value="dark") Темная
                    .form-group
                        input.btn.btn-success(type="submit" value="Сохранить")
            b-tab(title="Смена пароля")
                form
                    b-form-group
                        label Старый пароль
                        b-form-input(type="password"
                            v-bind:state="getFieldState('passwordChangeForm', 'old_password')"
                            v-on:input="$v.passwordChangeForm.old_password.$touch()"
                            v-model="passwordChangeForm.old_password")
                        b-form-invalid-feedback Поле не может быть пустым
                    b-form-group
                        label Новый пароль
                        b-form-input(type="password"
                            v-bind:state="getFieldState('passwordChangeForm', 'new_password')"
                            v-on:input="$v.passwordChangeForm.new_password.$touch()"
                            v-model="passwordChangeForm.new_password")
                        b-form-invalid-feedback Поле не может быть пустым
                    b-form-group
                        label Новый пароль (еще раз)
                        b-form-input(type="password"
                            v-bind:state="getFieldState('passwordChangeForm', 'new_password_repeat')"
                            v-on:input="$v.passwordChangeForm.new_password_repeat.$touch()"
                            v-model="passwordChangeForm.new_password_repeat")
                        b-form-invalid-feedback(v-if="!$v.passwordChangeForm.new_password_repeat.required") Поле не может быть пустым
                        b-form-invalid-feedback(v-if="!$v.passwordChangeForm.new_password_repeat.sameAs") Проверочный пароль не совпадает
                    b-form-group
                        b-button(variant="success"
                            v-bind:disabled="$v.passwordChangeForm.$invalid"
                            v-on:click="changePassword") Сохранить
            b-tab(title="Языковые настройки")
</template>

<script>
    const { required, sameAs } = require("vuelidate/lib/validators");

    export default {
        name: "settings",
        data() {
            return {
                currentTab: 0,
                passwordChangeForm: {}
            }
        },
        validations: {
            passwordChangeForm: {
                old_password: {
                    required
                },
                new_password: {
                    required
                },
                new_password_repeat: {
                    required,
                    sameAs: sameAs("new_password")
                }
            }
        },
        computed: {
            settings() {
                return this.$parent.user
            }
        },
        methods: {
            getFieldState(form, field) {
                if (!this.$v) return null;

                if (!field) {
                    if (!this.$v[form].$dirty) return null;
                    return !this.$v[form].$invalid
                }

                if (!this.$v[form][field].$dirty) return null;
                return !this.$v[form][field].$invalid
            },
            updateSettings: function () {
                this.$http.post("/settings", this.settings)
            },
            uploadPhoto: function (event) {
                let formData = new FormData(event.target);
                this.$http.post("/settings", formData).then(response => {
                    this.$set(this.settings, "photo", response.data.photo);
                })
            },
            changePassword() {
                this.$http.post("/settings/password", this.passwordChangeForm).then(response => {

                })
            },
        }
    }
</script>