<template lang="pug">
    .container
        .spinner(v-if="!loadComplete")
            span.fa.fa-spinner.fa-spin.fa-3x
        .col-lg-12(v-else)
            .img-square-circle.mb-3
                img(v-bind:src='photoOrPlaceholder')
            h3(v-if="!user.name") {{ user.login }}
            .text-center(v-else)
                h3 {{ user.name }}
                h6.text-muted ({{ user.login }})
            .border.rounded.p-3.mt-3(v-if="user.about || user.website || user.email")
                .d-block(v-if="user.about")
                    span.fa.fa-info.fa-fw.mr-2
                    span {{ user.about }}
                .d-block(v-if="user.website")
                    span.fa.fa-globe.fa-fw.mr-2
                    a(:href="'http://' + user.website ") {{ user.website }}
                .d-block(v-if="user.email")
                    span.fa.fa-envelope.fa-fw.mr-2
                    span {{ user.email }}
</template>

<script>
    export default {
        name: "user",
        data: function() {
            return {
                user: {},
                loadComplete: false
            }
        },
        computed: {
            photoOrPlaceholder() {
                return this.user.photo || "/images/200x200.png"
            }
        },
        methods: {
            reloadComponent: function(user) {
                this.loadComplete = false;
                this.$http.get(`/rest/users/${user}`).then(response => {
                    this.user = response.data;
                    this.loadComplete = true;
                });
            }
        },
        created() {
            this.reloadComponent(this.$route.params.id);
        },
        beforeRouteUpdate(to, from, next) {
            this.reloadComponent(to.params.id);
            next();
        },
    }
</script>