<template>
    <!--This route is empty-->
</template>

<script>
    export default {
        name: "Logout",
        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.$http.get("/logout").then(() => {
                    vm.$root.user = {};
                    vm.$root.boards = {};
                    vm.$root.loadComplete = false;
                    vm.$router.push("/");
                })
            })
        }
    }
</script>